// CSS HEADER
////////////////
.info-top {
    padding: .5rem;
    background-color: $_blue-300;
    color: $white;
}

.menu-top {
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: $_font-size-13;
    color: $_gray-100;
    letter-spacing: 0.69px;
}

.line-gray {
    hr {
        margin: 0px;
        padding: 0px;
        border-width: 2px;
        border-color: $_gray;
    }
}

#menu {
    .main-menu {
        .navbar {
            .navbar-nav {
                .nav-item {
                    .nav-link {
                        padding: 1.2rem 1rem;
                    }
                }
            }
        }
    }
}

.main-menu {
    background-color: $_white;

    @include breakpoint-down('md') {
        padding: 10px 0px;
    }

    .navbar {
        padding: 0px;

        .navbar-toggler {
            padding: 0px;
            border: none;
        }

        .navbar-brand {
            padding: 0px;
        }

        .navbar-nav {
            position: relative;

            @include breakpoint-up('lg') {
                &.menu-hide {
                    .nav-item {
                        opacity: 0;
                        z-index: -1;

                        &.all-menu {
                            opacity: 1;
                            z-index: auto;
                        }
                    }
                }
            }

            .nav-item {
                position: static;

                @include transition(opacity .2s ease-in-out) &.dropdown {
                    .dropdown-toggle {
                        &::after {
                            content: "\f107";
                            border: none;
                            font-family: "Font Awesome 5 Pro";
                            font-weight: 900;
                            font-style: normal;
                            font-variant: normal;
                            vertical-align: bottom;
                        }

                        &[aria-expanded="true"] {
                            &::after {
                                content: "\f106";
                            }
                        }
                    }
                }

                &.show {
                    .nav-link {
                        &::before {
                            animation-duration: 0.3s;
                            -webkit-animation-duration: 0.3s;
                            animation-fill-mode: both;
                            -webkit-animation-fill-mode: both;
                            -webkit-animation-name: slideInTriangle;
                            animation-name: slideInTriangle;
                        }
                    }
                }

                .nav-link {
                    padding: 1rem;
                    position: relative;
                    text-transform: uppercase;
                    font-size: $_font-size;
                    color: $_blue-100;
                    letter-spacing: 0.64px;

                    @include breakpoint-down('md') {
                        padding-left: 0px !important;
                    }

                    @include breakpoint-up('lg') {
                        &::before {
                            content: "";
                            position: absolute;
                            width: 10px;
                            height: 10px;
                            left: 50%;
                            bottom: 0px;
                            @include transform(translateX(-50%));
                            border-left: 7px solid transparent;
                            border-right: 7px solid transparent;
                            border-bottom: 7px solid $_blue-500;
                            opacity: 0;
                        }
                    }

                    &:hover {
                        color: $_blue-300;
                    }

                    &.dropdown-burger {
                        @include breakpoint-up('lg') {
                            &::after {
                                display: none;
                            }
                        }
                    }
                }

                .dropdown-menu {
                    width: 100%;
                    margin: 0px;
                    border: none;
                    background-color: $_blue-500;
                    border-radius: 0px;

                    a {
                        padding: 1rem;
                        text-transform: uppercase;
                        font-size: $_font-size;
                        color: $_white;
                        letter-spacing: 0.64px;
                        text-transform: uppercase;

                        &:hover {
                            color: $_yellow;
                            background: none;
                        }
                    }

                    .title {
                        padding-top: 40px;
                        padding-bottom: 30px;
                        font-size: $_font-size-13;
                        text-transform: uppercase;
                        letter-spacing: 3px;
                        color: $_white;

                        @include breakpoint-down('md') {
                            display: none;
                        }
                    }

                    .clm-right {
                        &::before {
                            content: "";
                            position: absolute;
                            left: 0px;
                            top: 0px;
                            width: 1px;
                            height: 100%;
                            background-color: $_white;
                        }
                    }

                    .content-pad {
                        padding: 30px 30px 0px 30px;

                        @include breakpoint-up('lg') {
                            padding: 10px 60px;
                        }
                    }

                    .menu-all {
                        margin: 0px -15px;
                        padding: 0px;

                        li {
                            padding-bottom: 30px;
                            list-style: none;

                            a {
                                padding-left: 0px;
                                padding-right: 0px;
                                font-size: $_font-size-16;
                                font-family: 'SourceSansPro-Bold', sans-serif;
                            }
                        }
                    }

                    .menu-bot {
                        @extend .menu-all;
                        margin-top: 70px;
                        position: relative;

                        &::before {
                            content: "";
                            width: 100%;
                            height: 1px;
                            margin-left: 15px;
                            margin-right: 15px;
                            padding: 15px 0px;
                            border-top: 1px solid $_blue-700;
                            top: 0px;
                        }

                        li {
                            padding-bottom: 20px;

                            a {
                                padding-left: 0px;
                                padding-right: 0px;
                                font-size: $_font-size-16;
                                font-family: 'SourceSansPro-Bold', sans-serif;
                                color: $_yellow;

                                &:hover {
                                    color: $_yellow-100;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

footer {
    .footer {
        padding: 45px 0px;
        background-color: $_blue-200;
        color: $_white;

        ul {
            margin: 0px;
        }

        .right {
            text-align: right;

            @include breakpoint-down('md') {
                margin-top: 30px;
                text-align: center;
            }
        }

        .item {
            .title {
                font-size: $_font-size;
                font-weight: bold;
                text-transform: uppercase;
            }

            a {
                font-size: $_font-size-15;
                color: $_white;
                line-height: 1.5;
                letter-spacing: .68px;

                &:hover {
                    color: $_yellow;
                }
            }
        }

        .social-media {
            margin-right: 25px;
            margin-bottom: 24px;

            a {
                margin-left: 40px;
                font-size: $_font-size-17;
                color: $_white;

                &:hover {
                    color: $_yellow;
                }

                &.c-facebook {
                    &:hover {
                        color: #3b579d;
                    }
                }

                &.c-linkedin {
                    &:hover {
                        color: #007bb6;
                    }
                }

                &.c-youtube {
                    &:hover {
                        color: #e5291a;
                    }
                }

                &.c-instagram {
                    &:hover {
                        color: #6942be;
                    }
                }

                &.c-twitter {
                    &:hover {
                        color: #2caae1;
                    }
                }
            }
        }
    }

    .copyright {
        padding: 34px 0px;
        background-color: $_blue-200;
        border-top: 4px solid $_yellow;
        text-align: center;
        color: $_white;
        font-size: $_font-size;
        line-height: 1.3;
        letter-spacing: 0.63px;

        p {
            margin: 0px;
            padding: 0px;
        }

        a {
            color: $_yellow;

            &:hover {
                color: $_blue;
            }
        }
    }
}