@each $color, $value in $_buttons {
  .btn-#{$color} {
    $text-color: $_white;
    @if map-has-key($_button-colors, $color) == true {
      $text-color: map-get($_button-colors, $color);
    }
    
    @include btn-variant($value, $text-color);

    &:focus {
      box-shadow: none;
    }
  }
}

.btn {
  &:focus {
    box-shadow: none;
  }
  &.bold {
    font-size: $_font-size-17;
  }

  &.btn-md {
    height: 45px;
  }
}

.btn-yellow-box {
  padding: 15px 28px;
  border-radius: 0px;
  background-color: $_orange;
  color: $_white;
  border: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
  overflow: hidden;
  z-index: 1;

  &:focus {
    box-shadow: none;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0px;
    left: -115%;
    width: 110%;
    height: 100%;
    background-color: $_orange;
    transition: all .3s ease-in-out;
    transform: skewX(-30deg);
    z-index: -1;
  }

  @include hover {
    color: $_white;
    background-color: $_orange-100;
    text-shadow: 1px 1px 3px rgba(0,0,0,.05);

    &::before {
      left: -60%;
    }

    .fa-arrow-right {
      padding-left: 10px;
    }
  }

  &[disabled],
  &[readonly] {
    background-color: $_gray-600;

    &:hover {
      text-shadow: none;

      .fa-arrow-right {
        padding-left: 0px;
      }
    }

    &::before {
      display: none;
    }
  }

  &.small {
    padding: 10px 15px;
  }

  .fa-arrow-right {
    text-align: center;
    width: 1.25em;
    transition: all .2s ease-in-out;
  }

  a {
    color: #fff !important;
  }
}

.btn-red-box {
  padding: 15px 28px;
  border-radius: 0px;
  background-color: $_red;
  color: $_white;
  border: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
  overflow: hidden;
  z-index: 1;

  &:focus {
    box-shadow: none;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0px;
    left: -115%;
    width: 110%;
    height: 100%;
    background-color: #dd4655;
    transition: all .3s ease-in-out;
    transform: skewX(-30deg);
    z-index: -1;
  }

  @include hover {
    color: $_white;
    background-color: #dc3545;
    text-shadow: 1px 1px 3px rgba(0,0,0,.05);

    &::before {
      left: -60%;
    }

    .fa-arrow-right {
      padding-left: 10px;
    }
  }

  &[disabled] {
    background-color: $_gray-600;

    &:hover {
      text-shadow: none;

      .fa-arrow-right {
        padding-left: 0px;
      }
    }

    &::before {
      display: none;
    }
  }

  &.small {
    padding: 10px 15px;
  }

  a {
    color: #fff !important;
  }
}

.btn-transparent {
  padding: .100rem 2rem;
  border: 1px solid $_white;
  border-radius: 0px !important;
  color: $white;

  &:hover {
    color: $_white;
  }

  &:focus {
    box-shadow: none;
  }
}

.btn-burger {
  background: none !important;
  border: none !important;
}

.btn-border {
  padding: 8px 22px;
  border: 1px solid $_gray-600;
  color: $_blue-500;
}

a,
button {
  &[aria-expanded="true"] {
    .burger-menu {
      span {
        &:nth-child(1) {
          width: 9px;
          @include transform(rotate(45deg) translate(3px,1px));
        }
        &:nth-child(2) {
          @include transform(rotate(-45deg));
        }
        &:nth-child(3) {
          width: 9px;
          @include transform(rotate(45deg) translate(6.5px,-10px));
        }
      }
    }
  }
  .burger-menu {
    height: 20px;
    
    span {
      width: 22px;
      height: 2px;
      margin-bottom: 6px;
      border-radius: 6px;
      background-color: $_blue-500;
      display: block;
      @include transition(all .2s ease-in-out);
  
      &:last-child {
        margin-bottom: 0px;
      }
    }
  }
}

.button{
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
  padding-left: 20px;
  padding-right: 20px;
  min-height: 30px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .05em;
  cursor: pointer;
  border-style: solid;
  user-select: none;
  position: relative;

  &:after {
      position: absolute;
      content: '';
      z-index: 0;
      -webkit-transition: height .29s cubic-bezier(.455,.030,.515,.955);
      -moz-transition: height .29s cubic-bezier(.455,.030,.515,.955);
      transition: height .29s cubic-bezier(.455,.030,.515,.955);
      width: 100%;
      height: 0;
      top: 50%;
      left: 50%;
      -webkit-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
      -moz-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
      -ms-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
      transform: translateX(-50%) translateY(-50%) rotate(-45deg);
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
  }
  &.medium {
      height: 30px;
      border-width: 2px;
      font: normal 600 14px/14px 'Source Sans Pro';
      &:active:after, &:hover:after {
          height: 620%;
      }
  }

  &.blue {
    background-color: #00008f;
    border: 0;
    color: #fff;
    &:before {
      background: #00005b;
      left: 0;
      content: '';
      position: absolute;
      z-index: 0;
      right: 0;
      height: 2px;
      bottom: 0;
    }
    &:after {
      background-color: #00005b;
    }
  }

  span {
    z-index: 20;
    -webkit-transition: color .29s cubic-bezier(.455,.030,.515,.955);
    -moz-transition: color .29s cubic-bezier(.455,.030,.515,.955);
    transition: color .29s cubic-bezier(.455,.030,.515,.955);
  }
}

@media (min-width: 768px){
  .button.medium {
    height: 40px;
  }
}