@import "./pages/common.pcss";
@import "./pages/step2.pcss";
@import "./pages/step3.pcss";
@import "./pages/riplay.pcss";
@import "./pages/payment.pcss";


@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base { */
@layer components {
  @font-face {
    font-family: "Publico";
    src: local("Publico-Bold.woff"), local("Publico-Bold.woff"),
      url("../../../fonts/Publico-Bold.woff"),
      url("../../../fonts/Publico-Bold.woff2");
    font-display: swap;
    font-weight: bold;
  }

  @font-face {
    font-family: "SourceSans";
    src: local("SourceSans3-Regular.woff"), local("SourceSans3-Regular.woff2"),
      url("../../../fonts/SourceSans3-Regular.woff"),
      url("../../../fonts/SourceSans3-Regular.woff2");
    font-display: swap;
    font-weight: 400;
  }

  @font-face {
    font-family: "SourceSans";
    src: local("SourceSans3-SemiBold.woff"), local("SourceSans3-SemiBold.woff2"),
      url("../../../fonts/SourceSans3-SemiBold.woff"),
      url("../../../fonts/SourceSans3-SemiBold.woff2");
    font-display: swap;
    font-weight: 600;
  }

  @font-face {
    font-family: "SourceSans";
    src: local("SourceSans3-Bold.woff"), local("SourceSans3-Bold.woff2"),
      url("../../../fonts/SourceSans3-Bold.woff"),
      url("../../../fonts/SourceSans3-Bold.woff2");
    font-display: swap;
    font-weight: 700;
  }
}
