.html__agency,
.body__agency {
  @apply h-full font-sourcesans font-normal;
}
 
.body__agency {
  @apply bg-[#FAFAFA] !important;;
}
 
.body-white {
  @apply bg-[#FAFAFA] !important;;
}
 
.html__agency {
  scroll-behavior: smooth;
}
 
.mb-0px {
  @apply mb-0;
}
 
.align-items-center {
  @apply items-center;
}
 
.display-inline-flex {
  @apply inline-flex;
}
 
.agency__text-center {
  @apply text-center;
}
 
.flex-justify-between {
  @apply flex justify-between;
}
 
.vertical-align-middle {
  @apply align-middle;
}
 
.width-full {
  @apply w-full;
}
 
.height-full {
  @apply h-full;
}
 
.agency__uppercase {
  @apply uppercase;
}
 
.position-absolute {
  @apply absolute;
}
 
.right-8level {
  @apply right-[32px];
}
 
.mt-1level {
  @apply mt-[4px];
}
 
.mt-2level {
  @apply mt-[8px];
}
 
.mt-3level {
  @apply mt-[12px];
}
 
.mt-4level {
  @apply mt-[16px];
}
 
.mt-8level {
  @apply mt-[32px];
}
 
.agency__normalcase {
  @apply normal-case;
}
 
.letter-spacing-0px {
  @apply tracking-[0px];
}
 
.letter-spacing-1px {
  @apply tracking-[1px];
}
 
.vertical-align-min-2px {
  @apply align-[-2px];
}
 
.order-10 {
  @apply z-10;
}
 
.order-50 {
  @apply z-50;
}
 
.gap-4level {
  @apply gap-[16px];
}

.gap-6level {
  @apply gap-[24px];
}
 
.agency__text-white {
  @apply text-white;
}
 
.line-height-1-85 {
  @apply leading-[1.85];
}
 
.left-6px {
  @apply left-[6px];
}

.text-red {
	@apply text-red-500;
}
 
 
/* add edit  */
.benefit_type {
  @apply mt-4;
& .benefit_type__title {
    @apply text-axa-blue-300 text-[16px] font-bold;
  }
}
 
.benefit_type__title {
  margin-bottom: 0; /* Remove any bottom margin from the title */
}
 
.benefit_type__item {
  margin-top: 0; /* Remove any top margin from the ul parent */
}
 
.agency__text_axa_bluesky_900 {
  @apply text-axa-bluesky-900;
}
 
.info-link {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-left: 6px;
  background-color: #d75d3d; /* axa siena */
  color: #fff;
  text-align: center;
  line-height: 16px;
  border-radius: 50%;
  font-weight: normal;
  text-decoration: none;
  font-size: 12px; /* Make the question mark smaller */
}
 
.mt-30px {
  @apply mt-[30px];
}
 
.gohide { display: none; }

.simulation-wording-list {
  list-style: disc;
  @apply text-[#757575];
}

/* BUTTON NEXT SIDEBAR */
.sidebar-nav {
  @apply mt-5 text-center;
}

.sidebar-nav__btn {
  @apply btn btn--dark-blue w-full;
}

.text-transform-uppercase {
  @apply uppercase;
}

.modal-axa-smarttravel {
.modal-axa-smarttravel-body__sanction-country {
        ol {
            list-style: auto;
            margin: 0 0 0 15px;
        }
        p {
            @apply text-[#343C3D];
        }
}
}