.it-purchase_before_departs_container {
	@apply py-4 px-0;
}

.purchase_before_departs_input {
	@apply cursor-pointer;
}

.it-purchase-before-departs-label {
	@apply text-xs px-[5px] py-0 font-normal;
}

.it-error-required {
	color: red;
}