.mt-20level {
  @apply mt-20;
}

.agency__flex-justify-end {
  @apply flex justify-end;
}

.mt-20px {
  @apply mt-[20px];
}

.text-info-report {
  @apply text-sm leading-tight text-gray-800 text-left;
}

.mt-1level {
  @apply mt-1;
}

.agency__font-semibold {
  @apply font-semibold;
}

.mt-0.5level {
  @apply mt-0.5;
}

.agency__font-normal {
  @apply font-normal;
}

.agency__text-gray-800-hover {
  @apply text-gray-800 hover:underline;
}

.agency__flex-justify-between {
  @apply flex justify-between;
}

.mt-5level {
  @apply mt-5;
}

.ml-10px {
  @apply ml-[10px];
}

.w-300px {
  @apply w-[300px];
}

.agency__text-left {
  @apply text-left;
}

.agency__text-right {
  @apply text-right;
}

.penawaran_inner {
  @apply px-[5px] pt-[3px] pb-[5px] ml-[10px];
}

.penawaran_inner_table {
  @apply w-full table-auto text-left border-spacing-y-2 ml-[10px];
}

.agency__bg-f0f0f0 {
  @apply bg-[#f0f0f0];
}

.title_table_penawaran {
  @apply text-xs italic;
}

.pl-10px {
  @apply pl-[10px];
}

.premi_table {
  @apply w-full table-auto text-left border-spacing-y-2 ml-[10px];
}

.mt-10level {
  @apply mt-10;
}

.table_coverage {
  @apply border-collapse border border-gray-200 ml-[10px] w-[799px] mt-5 text-left;
}

.agency__bg-c5b8b8 {
  @apply bg-[#c5b8b8];
}

.table_coverage_col {
  @apply border border-gray-300 px-4 py-2 text-[#333333];
}

.table_coverage_col_td {
  @apply border border-gray-300 px-4 py-2;
}

.table_benefit {
  @apply border-collapse border border-gray-200 ml-10px w-[799px] mt-3 text-left;
}

.ml-5level {
  @apply ml-5;
}

.agency__list-decimal {
  @apply list-decimal;
}

.agency__list-disc {
  @apply list-disc;
}

.mb-32level {
  @apply mb-32;
}
